h1, footer, #scroll-top {
  background: #f2e7f3;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page) */
.sticky + .connect {
  padding-top: 56px;
}
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 8px;
  padding: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.connect {
  border: none;
  margin: 32px 80px;
}
.connect p {
  text-align: center;
}
/* Responsive layout - when the screen is small, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, #send {
    width: 100%;
    margin-top: 0;
  }
}
